<div class="rodape">
    <div class="rodape-conteudo">
        <div class="imagem">
            <img src="/assets/img/logo/1.png" alt="">
        </div>
        <div class="listas">
            <ul>
                <li class="li-titulo">Produtos:</li>
                <li><a routerLink="nao-sencontrado">Eletrônicos</a></li>
                <li><a routerLink="nao-sencontrado">Eletrodomesticos</a></li>
                <li><a routerLink="nao-sencontrado">Roupas</a></li>
                <li><a routerLink="nao-sencontrado">Sapatos</a></li>
            </ul>
            <ul>
                <li class="li-titulo">Quem somos:</li>
                <li><a routerLink="nao-sencontrado">A empresa</a></li>
                <li><a routerLink="nao-sencontrado">Localização</a></li>
                <li><a routerLink="nao-sencontrado">Entre em contato</a></li>
            </ul>
        </div>
        
    </div>
    
</div>


