.size-img{
    height: 50vh;
    width: 80%;
    margin: auto;
}

.size-btn{
    margin: 0 10vw;
}

@media screen and (max-width: 900px) {
    .size-img{
        height: 50vh;
        width: 100%;
    }
    
    .size-btn{
        margin: 0;
    }
}