<div class="navbar size-nav">
    <a routerLink="">Home</a>
    <a routerLink="produtos">Produtos</a>
    <a routerLink="cadastro">Cadastro</a>
    <a routerLink="carrinho">Carrinho</a>
    <a routerLink="nao-sencontrado">Quem somos</a>
</div>




<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light size-nav">
    <div class="container-fluid">
        <h2>Categorias:</h2>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Eletrônicos</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Eletrodomesticos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Roupas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sapatos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Quem Somos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">A empresa</a></li>
              <li><a class="dropdown-item" href="#">Localização</a></li>
              <li><a class="dropdown-item" href="#">Entre em contato</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
